.painting{
    margin-left: 5%;
    margin-top: 15px;
    border:10px solid #0f9fff;
    font-family: sans-serif;
    border-radius: 10px;
    width: 40%;
    height: 680px;
    padding: 30px;
}

.painting2{
    border:4px solid #0f9fff;
    font-family: sans-serif;
    border-radius: 10px;
    width: 90%;
    padding: 30px;
}

.remove{
    white-space: nowrap;
}

.remove-item{
    white-space: normal;
    display: inline-block;
    vertical-align: top;
}

.btn{
    font-size: 20pt;
    background: #0f9fff;
    color: darkblue;
    text-decoration: none;
    border: 4px darkblue;
    padding: 10px;
}

.btn:hover{
    color:azure;
    box-shadow: 0 0 5px 2px;
}

.btn:disabled{
    color: darkblue;
    font-size: 20pt;
    background: gray;
}

.btn:disabled:hover{
    color: darkblue;
    font-size: 20pt;
    background: gray;
}

#chat{
    margin-top: 15px;
    overflow: scroll;
    height: 57%;
}