doctype html
html(lang="ru")
    head
        title= "Ошибка"
        link(rel='stylesheet' href='../static/user.css')
    body
        .container#con1
            a.btn(style='margin-right: 15px' href="/") Вход
        h1 Wrong Nickname