doctype html
html(lang="ru")
    head
        link(rel='stylesheet' href='static/style.css')
        title= "Вход"
    body
        form.modal(method="POST" action='/login')
            label Введите имя
            br
            input#input(name="user" style="margin:10px")
            br
            button.btn(type="submit") Вход